body {
    margin: 0%;
    background: #c2bac5;
    transition: 0.2s;
}
body:hover {
    background: #fff;
}

header {
    display: flex;
    justify-content: center;
    background-color: #C60C30;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 70%;
    margin: 1%;
    width: 90%;
}

nav {
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Signika', sans-serif;
    margin: 1%;
    column-count: 9;
    column-gap: 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #AAAA;
}

.info {
    padding-right: 20px;
    padding-left: 50px;
    font-size: 25px;
    font-family: Arial;
}

.info_flex {
    display: flex;
}

.video {
    padding: 10px;
    display: flex;
    box-shadow: 0 0 10px #c2bac5, 0 0 40px #c2bac5, 0 0 40px #c2bac5;
}

#cajas_flex {
    display: flex;
    margin: 36px;
    /* border-style: solid; */
    width: 950px;
}

.caja_grande {
    width: 950px;
}

.caja1 {
    display: flex;
    margin: 20px;
    width: 830px;
    height: 450px;
    font-family: Arial, Helvetica, sans-serif;
}

.overflow_caja1 {
    overflow: hidden;
    background-color: black;
    height: 150px;
}

.overflow_caja1 img {
    transition: 0.5s;
    opacity: 1;
    width: 260px;
}

.overflow_caja1 img:hover {
    transform: scale( 1.5);
    opacity: 0.6;
}

.margenes {
    margin: 10px ;
    /* border-style: solid; */
    width: 275px;
    height: 400px;
}

.encabezados {
    background-color: #C60C30;
    color: #fff;
    height: 25px;
    display: flex;
    align-items: center;
}

.margen0_titulo {
    margin: 4px;
}

.caja2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    width: 850px;
    height: 410px;
    /* border-style: solid; */
    justify-content: center;
}

.caja_float {
    width: 266px;
    height: 370px;
    float: left;
    margin: 8px;
}

.overflow_caja2 {
    overflow: hidden;
    background-color: black;
    height: 150px;
}

.overflow_caja2 img {
    transition: 0.5s;
    opacity: 1;
}


.overflow_caja2 img:hover {
    transform: scale( 1.5);
    opacity: 0.6;
}

.estilo_titulo {
    background-color: #C60C30;
    color: #fff;
    height: 25px;
}

.margen0_padding {
    margin: 0px;
    padding: 4px;
}

.caja3 {
    display: flex;
    /* border-style: solid; */
    height: 4px;
    width: 900px;
    height: 360px;
}

.margenes_caja3 {
    margin: 10px ;
    /* border-style: solid; */
    width: 260px;
    height: 400px;
}

.ultima_caja {
    margin-left: 30px;
    /* border-style: solid; */
    height: 420px;
    width: 900px;
}

.ultima_caja h2 {
    color: #C60C30;
    margin: 0px;
}

.vertical {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 290px;
    height: 1000px;
    /* border-style: solid; */
}

/* Inicio de publicidad */

.pxmolina {
    width: 290px;
    height: 250px;
}

.publicidad {
    width: 290px;
    height: 230px;
    border-radius: 15px;
}

.px {
    background-color: #C60C30;
    color: #fff;
    height: 20px;
}

.molina {
    margin: 4px;
    padding-left: 110px;
}

/* Fin de puclicidad */

.scroll {
    overflow:auto;
    height: 430px;
    width: 290px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

.prueba {
    display: flex;
    margin: 8px;
    font-weight: bold;
}

/* Revista Niu */
#revista {
    /* border-style: solid; */
    height: 520px;
    width: 900px;
    margin-left: 36px;
    margin-right: 400px;
}

.linea_roja {
    background-color: #C60C30;
    height: 4px;
}

.linea_roja2 {
    background-color: #C60C30;
    height: 4px;
}


.cajas_revistas {
    display: flex;
}

.transition {
    width: 295px;
    height: 425px;
    margin: 4px;
    /* border-style: solid; */
    overflow: hidden;
    background-color: black;
    position: relative;
}

.transition img {
    transition: 0.5s;
    position: relative;
    right: 50%;
    opacity: 0.6;
}

.transition img:hover {
    transform: scale( 1.5);
    opacity: 1;
}

.absolute h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 25%;
    width: 280px;
    height: 130px;
    /* border-style: solid; */
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size: 20px;
}

.absolute {
   padding: 4px;
}

/* Fin de revista */

#ending {
    height: 270px;
    /* border-style: solid; */
    background-color: #C60C30;
}

.confidencial_final {
    padding-left: 40%;
    padding-top: 30px;
    /* border-style: solid; */
}

.redes {
    display: flex;
    justify-content: center;
}

.end_estilo {
    color: white;
    padding: 35px;
    text-align: center;
    width: 300px;
    height: 130px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border-style: solid; */
}

@media screen and (min-width:320px) and (max-width:720px) {
    body, header {
        width: auto;
    }
    /* header a {
        font-size: 50%;
    } */
    .logo img {
        padding-left: 10%;
        width: 80%;
    }
    nav {
        display: none;
    }
    .info_flex {
        display: block;
    }
    .info {
        padding-right: 1%;
        padding-left: 1%;
    }
    #cajas_flex {
        display: block;
        margin: 3%;
        width: auto;
    }
    .video {
        justify-content: center;
    }
    .contenedor_flex {
        overflow: auto;
        /* height: 50%; */
    }
    .caja1 {
        width: 100%;
        height: 10%;
        margin-left: 0;
    }
    .caja_grande {
        width: 100%;
    }
    .overflow_caja1 img {
        width: 100%;
        height: 100%;
    }
    .margenes {
        width: 70%;
        height: auto;
        flex-shrink: 0;
        margin-left: 0;
        margin-right: 20px;
    }
    .caja2 {
        display: flex;
        width: 100%;
        height: 10%;
        margin-left: 60%;
    }
    .caja_float {
        width: 70%;
        /* height: 25%; */
        flex-shrink: 0;
    }
    .overflow_caja2 {
        height: 49%;
    }
    .overflow_caja2 img {
        width: 100%;
        height: 100%;
    }
    .caja3 {
        width: 100%;
        height: 85%;
        display: flex;
    }
    .margenes_caja3 {
       width: 70%;
       height: auto;
       flex-shrink: 0;
       margin-left: 1%;
       margin-right: 15px;
    }
    .ultima_caja {
        width: 95%;
        overflow: auto;
        margin-left: 0;
    }
    .prueba {
        flex-shrink: 0;
        display: block;
        width: 100%;
    }
    .scroll {
        display: flex;
        height: 70%;
        font-size: 84%;
        margin-left: 25%;
        width: 60%;
    }
    .vertical {
        height: 740px;
        width: auto;
    }
    .vertical img.publicidad {
        width: 60%;
        height: 100%;
        /* flex-shrink: 0; */
        padding-left: 20%;
    }
    .pxmolina {
        width: auto;
    }
    .molina {
        text-align: center;
        padding-right: 100px;
        font-size: 130%;
    }
    .px {
        height: 10%;
    }
    #revista {
        width: 100%;
        margin: 0%;
    }
    .linea_roja {
        width: auto;
    }
    .linea_roja2 {
        width: auto;
    }
    .transition {
        flex-shrink: 0;
        width: 80%;
    }
    .transition img {
        right: 20%;
    }
    .cajas_revistas {
        overflow: auto;
    }
    .confidencial_final {
        padding-left: 0;
        padding-top: 5%;
        text-align: center;
    }
    .end_estilo {
        font-size: 80%;
        padding-right: 1%;
        width: auto;
        padding-left: 1%;
    }
    .end_estilo h3 {
        font-size: 8px;
    }
}
@media screen and (min-width:521px) and (max-width:720px) {
    .absolute h2 {
        right: 19%;
        font-size: 150%;
    }
}
@media screen and (min-width:471px) and (max-width:520px) {
    .absolute h2 {
        right: 12%;
        font-size: 150%;
    }
}
@media screen and (min-width:320px) and (max-width:470px) {
    .absolute h2 {
        right: 8%;
        font-size: 140%;
    }
}
@media screen and (min-width:427px) and (max-width:720px) {
    .overflow_caja1 {
        height: 55%;
    }
}
@media screen and (min-width:320px) and (max-width:426px) {
    .overflow_caja1 {
        height: 49%;
    }
}